<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" >
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Nabla&family=Permanent+Marker&family=Poppins&display=swap" rel="stylesheet">
    <title>Quotes by Marcus Aurelius</title>
</head>
<body>


    <div class="title-div">
    <h1 class="page-title">Marcus Aurelius Quote Randomizer <%=locals.name %></h1>
    </div>


    <div class="colors">

      <button id="theme-purp-button" class="round-button">
          <div class="half top-half"></div>
          <div class="half bottom-half"></div>
        </button>
        
        <button id="theme-bw-button" class="round-button">
          <div class="half top-half"></div>
          <div class="half bottom-half"></div>
        </button>
        
        <button id="theme-green-button" class="round-button">
          <div class="half top-half"></div>
          <div class="half bottom-half"></div>
        </button>
        
      </div>

      <div class="container">
        <div class="quote">
            Click the button below to generate quotes!
        </div>
        <div class="button-container">
            <button class="quote-button">Generate Quote</button>
            <form action="/refresh-quotes" method="POST" class="refresh-form">
                <button type="submit" class="refresh-button">
                  Refresh Quotes
                  <svg id ="refresh-svg" fill="#FFFFFF" height="18px" width="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-53.85 -53.85 597.23 597.23" xml:space="preserve" stroke="#000000" stroke-width="0" transform="rotate(-45)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="6.853462"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M268.175,488.161c98.2-11,176.9-89.5,188.1-187.7c14.7-128.4-85.1-237.7-210.2-239.1v-57.6c0-3.2-4-4.9-6.7-2.9 l-118.6,87.1c-2,1.5-2,4.4,0,5.9l118.6,87.1c2.7,2,6.7,0.2,6.7-2.9v-57.5c87.9,1.4,158.3,76.2,152.3,165.6 c-5.1,76.9-67.8,139.3-144.7,144.2c-81.5,5.2-150.8-53-163.2-130c-2.3-14.3-14.8-24.7-29.2-24.7c-17.9,0-31.9,15.9-29.1,33.6 C49.575,418.961,150.875,501.261,268.175,488.161z"></path> </g> </g></svg>
                </button>
            </form>
            <button id="bookmarkButton" class="refresh-button">
              <div id="bookmarkText">
                Bookmark
              </div>
              <div id="yourSvgContainerId">
              <svg  fill="#FFFFFF" height="18px" width="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 329.899 329.899" xml:space="preserve" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M260.086,0H69.846C54.368,0,41.788,12.58,41.788,28.04v287.428c0,4.78,2.366,9.235,6.308,11.926s8.965,3.255,13.417,1.495 l103.441-40.875l103.454,40.875c1.699,0.679,3.501,1.003,5.29,1.003c2.847,0,5.687-0.841,8.101-2.492 c3.957-2.684,6.312-7.146,6.312-11.919V28.04C288.123,12.58,275.543,0,260.086,0z M213.033,158.674l-25.137,18.264l9.596,29.556 c0.643,1.981-0.06,4.155-1.741,5.374c-0.853,0.606-1.837,0.919-2.822,0.919c-0.991,0-1.981-0.312-2.834-0.919l-25.134-18.261 l-25.136,18.261c-1.684,1.219-3.966,1.219-5.645,0c-1.678-1.219-2.405-3.387-1.753-5.374l9.61-29.556l-25.142-18.264 c-1.684-1.225-2.387-3.39-1.748-5.374c0.64-1.981,2.486-3.327,4.576-3.327h31.068l9.611-29.54c1.273-3.966,7.842-3.966,9.139,0 l9.599,29.54h31.075c2.084,0,3.921,1.346,4.569,3.327C215.423,155.278,214.714,157.449,213.033,158.674z"></path> </g> </g></svg>
            </div>
            </button>
            <% if (locals.user) { %>
                <form action="/user/logout" method="POST" class="logout-form">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
                <form action="/bookmarks" method="GET" class="bookmark-form">
                  <button type="submit" class="bookmark-button">Bookmarks</button>
                </form>
            <% } %>
        </div>
    </div>

    <footer>
      <div class="left-text">Made by Yash Khambhatta </div>
      <div class="right-links">
        <a href="https://twitter.com/yash654k">Twitter</a>
        <a href="https://github.com/Yash456k">Github</a>
        <a href="https://linkedin.com/in/yash-khambhatta-559a14233">Linkedin</a>
      </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/javascript/index.js" ></script>
</body>
</html>