<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      href="/favicon/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/favicon/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <title>Signup</title>
  </head>

  <div class="title-div">
    <h1 class="page-title">Quotes by Marcus Aurelius</h1>
  </div>

  <body>
    <div class="card">
      <div class="form-div">
        <h1 class="form-title">Signup Form</h1>
      </div>

      <div class="container">
        <form class="signup-form" action="/user/signup" method="POST">
          <input
            type="text"
            name="name"
            placeholder="Username"
            required
            autocomplete="off"
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <input type="submit" value="Signup" />
        </form>

        <% if (locals.error) { %>
        <p class="error-message"><%= error %></p>
        <% } %>

        <a class="login-link" href="/user/login"
          >Already have an accout? Login here</a
        >
        <a class="homepage-link" href="/">Back to Quotes</a>
      </div>
    </div>
    <script src="/javascript/bookmark.js"></script>
  </body>
</html>
