:root {
    --background-col: #f9f9f9;
    --title-col: black;
    --title-text: #f9f9f9;
    --button-bg-col: black;
    --text-col: black;
    --button-text-col: white;
    --link-col: #f9f9f9;
}

.form-title{
    font-size: 3.3rem;
    text-align: center;

}

.title-div{
    width: 100%;
    background-color: var(--title-col);
    margin: 0;
    padding: 0;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, .5);
    transition: background ease-in-out .4s, color ease-in-out .4s;
}

.page-title {
    padding: 0;
    font-size: 2.7rem;
    font-family: 'Poppins', sans-serif;
    font-family:cursive;
    color: var(--title-text);
    text-align: center;
    transition: background ease-in-out .2s, color ease-in-out .2s;

    
}

body {
    display: flex;
    background-color: var(--background-col);
    color: var(--text-col);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
    transition: background ease-in-out .4s, color ease-in-out .4s;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 40px 60px;
    margin: 50px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-form {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--text-col);
    border-radius: 5px;
    font-size: 1rem;
    transition: border ease-in-out .4s;
}

.login-form input[type="submit"] {
    background-color: var(--button-bg-col);
    color: var(--button-text-col);
    font-size: 1.5rem;
    cursor: pointer;
    transition: background ease-in-out .4s, color ease-in-out .4s;
}

.login-form input[type="submit"]:hover {
    background-color: #535353;
}

.signup-link {
    margin-top: 20px;
    text-decoration: none;
    color: #e76000;
    transition: color ease-in-out .4s;
}

.homepage-link {
    margin-top: 20px;
    text-decoration: none;
    color: var(--text-col);
    transition: color ease-in-out .4s;
}

.homepage-link:hover {
    color: #707070;
}

.signup-link:hover {
    color: #739072;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 17px;
}

@media (max-width: 600px) {

    .page-title{
      font-size: 1.7rem;
      margin-top: 40px;
    }

}
